{
  "trailingComma": "es5",
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.{md,yml,yaml,json}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
