# env file list
.env
.env.production
.env.development
.env.test
.env.dev
.env.prod

# Owlly
owlly.toml
config/*.config
owlly-for-mac
owlly-for-mac-m1
owlly.exe

# Wails
build/bin
node_modules
frontend/dist

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
